<form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Nereden yola çıkacaksınız?" value="Ankara">
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Yolculuk ne tarafa?"></textarea>
        </mat-form-field>
        
        <agm-map [latitude]="lat" [longitude] = "lng">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
</form>
      